@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	background: #ffffff;
}

body.add {
	background: #000000 !important;
}

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wrapper h2 {
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 50px;
    text-align: center;
    text-shadow: 2px 1px 3px #000000;
}

body.add .wrapper h2 {
	color: #ffffff !important;
}

.wrapper .switch input[type="checkbox"] {
	display: none;
} 

.wrapper .switch label {
	background: #111;
	width: 100px;
	height: 54px;
	border-radius: 50px;
	position: relative;
	padding: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper .switch label .fa-moon {
	color: #f1c40f;
}

.wrapper .switch label .fa-sun {
	color: #f39c12;
}

.wrapper .switch label i {
	font-size: 30px;
}

.wrapper .switch label span {
	background: #ffffff;
	width: 44px;
	height: 44px;
	position: absolute;
	left: 4px;
	top: 4px;
	border-radius: 50%;
	transition: 0.3s all ease-in-out;
}

.wrapper .switch .checkbox:checked + label span {
	transform: translateX(48px);
}

body.add .wrapper .switch label {
	background: #ffffff;
}

body.add .wrapper .switch label span {
	background: #000000 !important;
}